@import '../../styles/variables.scss';

.header{
  &-wrap {
    position: relative;
    height: calc(100vh - 130px);
    padding: 0;
    &:before {
      position: absolute;
      width: 50%;
      height: calc(100% + 130px);
      background: $black;
      content: '';
      right: 0;
      top: -130px;
      z-index: -20;
    }
  }
  &-section {
    &__inf{
      width: 50%;
      padding-right: 150px;
      p{
        margin-bottom: 140px;
      }
    }
    &__code{
      width: 50%;
      padding-left: 60px;
    }
  }
}


.section{
  &-item{
    padding: 0 34px;
    &:first-child {
      padding-left: 0;
    }
    img{
      display: block;
      margin-bottom: 20px;
    }
    a{
      margin-bottom: 16px;
      display: block;
    }
  }
}

.learn{
  &-container {
    grid-template-columns: 1fr 1fr;
  }
  &-inf{
    &__inner {
      p{
        margin-bottom: 6px;
      }
    }
  }
  &-img {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px 24px;
    img {
      max-width: 95%;
    }
  }
}


.docs {
  &-section {
    grid-template-columns: 1fr 2fr;
    &__inf {
      padding-right: 36px;
    }
    &__posts {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 24px;
    }
  }
}

.video {
  &-section {
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 48px;
    &__posts {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 24px;
      z-index: 2;
    }
  }
}


.labs {
  &-container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }

  &-content {
    padding-right: 100px;
    .labels {
      margin-bottom: 34px;
      h2 {
        margin: 0;
        margin-left: 20px;
      }
    }
    .d-flex {
      span {
        margin: 0 20px;
      }
    }
  }
}
