.table {
  margin-bottom: 24px;
  tr {
    td {
      border: 1px solid #000;
      text-align: center;
      padding: 3px 30px;
    }
    th{
      padding-bottom: 6px;
    }
  }
}

.bold {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  border: none !important;
}
